mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			.section-t #[span Наши партнеры] Компании технологического сектора с многолетним индустриальным опытом, активно реализующие проекты в России, Казахстане, Киргизии, Египте, Беларуси и заинтересованные в реализации современных технологичных решений на территории Республики Узбекистан. Совместно с партнерами ООО «INFOCOM OVERSEAS» способен в кратчайшие сроки осуществить оперативную мобилизацию специалистов необходимых квалификаций из существующего кадрового резерва для оперативного развертывания проекта в рамках имеющихся компетенций.
			+e.row.row
				+e.col.col-xl-6 
					+e.wrap
						+e.img-wrap
							+img('img/sContent-bg.png').img-bg
							+e.content 
								p Присоединяйтесь к нашей команде и открывайте новые возможности и вызовы для вашего бизнеса
								+e.btn.btn.btn-primary.d-lg-none(href='#') Стать партнером
						.d-none.d-lg-inline-block: +e.btn.btn.btn-primary(href='#') Стать партнером
				+e.col.col-xl-6 
					+partnerItem('1','АО «Информтехтранс»','Разработка и производство аппаратуры различного назначения.')
					+partnerItem('2','ООО «РУВЕНТС»','Решения для проведения мероприятия')
					+partnerItem('3','ООО «Студия транспортного проектирования»','Международная команда транспортных инженеров')
					+partnerItem('4','ООО «Центр Логистического Инжиниринга»','Центр Логистического Инжиниринга')
					+partnerItem('5','ООО «ЛайкаСофт»','Автоматизация и цифровизация железных дорог')
					+partnerItem('6','ООО «ОБЪЕДИНЕННЫЕ СИСТЕМЫ УПРАВЛЕНИЯ ТРАНСПОРТОМ»','Автоматизация и цифровизация железных дорог')
	// end sContent

mixin partnerItem(i,t,p)
	+b.partner-item 
		+img(`img/partner-${i}.png`)
		+e.content 
			+e.title.h5=t
			.small.text-secondary=p