mixin product-item(i, t, p ,pr)
	+b.ARTICLE.product-item
		+e.caption
			+img(`img/svg/card-${i}.svg`)
			+e.title!= t
			+e.text!= p
	// /.product-item

mixin sCatalog(h2)
	// start sCatalog
	+b.sCatalog.section#sCatalog&attributes(attributes)
		.container
			.section-t #[span УСЛУГИ] &laquo;INFOCOM OVERSEAS&raquo; создан для решения отраслевых задач в&nbsp;области разработки и&nbsp;внедрения автоматизированных систем управления технологическим процессом (АСУ&nbsp;ТП) управления транспортом, энергетикой и&nbsp;массовыми мероприятиями.

			+e.row.row
				- const wrapClass="col-md-6 col-xl-4"
				+e.col(class= wrapClass)
					+product-item(`1`,`Интеллектуальные транспортные системы`,`Cистема , интегрирующая современные информационные и телематические технологии и предназначенная для автоматизированного поиска и принятия к реализации максимально эффективных сценариев управления транспортно-дорожным комплексом региона с целью обеспечения заданной мобильности населения, максимизации показателей использования дорожной сети, повышения безопасности и эффективности транспортного процесса, комфортности для водителей`) 
				+e.col(class= wrapClass)
					+product-item(`2`,`Цифровая платформа для реализации национальных проектов`,`Комплексные цифровые экосистемы, предназначенные для координации, мониторинга и автоматизации процессов в рамках государственных инициатив и проектов.`,``) 
				+e.col(class= wrapClass)
					+product-item(`3`,`IT-системы сопровождения массовых мероприятий`,`Подготовка и сопровождение массовых мероприятий, конференций, выставок: аккредитация, IT-экосистема мероприятий, интерактив, нетворкинг, анализ эффективности.`,``) 
				+e.col(class= wrapClass)
					+product-item(`4`,`Программно-аппаратные комплексы для автоматизации железных дорог и метро`,`Управление перевозками, инфраструктурой, локомотивным комплексом, автоматизация процессов безопасности движения, ремонта подвижного состава, служб депо.`,``) 
				+e.col(class= wrapClass)
					+product-item(`5`,`АСУ ТП для тепловой и атомной энергетики`,`Проектный офис по сопровождению проектов реализации современных технологичных решений в сфере АСУТП, SCADA, IT.`,``) 
				+e.col(class= wrapClass)
					+product-item(`6`,`Системы промышленного учета топлива`,`Внедрение систем учета топлива для железных дорог, автохозяйств, топливных складов. Развертывание энергосберегающих систем, перевод субъектов на дешевые, альтернативные виды топлива`,``) 
			+e.slider--js
				.swiper-wrapper
					+slideItemAuto('-	САИ ПС «Пальма»')
					+slideItemAuto('Проект «Интеллектуальный перекресток»')
					+slideItemAuto('ЕПУТС «Шелковый Путь»')
					+slideItemAuto('Проект «Прицельная остановка»')
					+slideItemAuto('Проект «Интеллектуальный переезд»')
					+slideItemAuto('-	САИ ПС «Пальма»')
					+slideItemAuto('Проект «Интеллектуальный перекресток»')
					+slideItemAuto('ЕПУТС «Шелковый Путь»')
					+slideItemAuto('Проект «Прицельная остановка»')
					+slideItemAuto('Проект «Интеллектуальный переезд»')

	// end sCatalog

mixin slideItemAuto(t1)
	.swiper-slide: +b.slide-item-auto.btn.btn-outline-dark(href='#')=t1
