.top-nav {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row {
		--bs-gutter-x: #{rem(12)};
		// @include media-breakpoint-up(md) {
			--bs-gutter-y: var(--bs-gutter-x);
		// }
    // justify-content: space-between;
    width: calc(100% - 6px);
	}
	
  position: absolute;
  top: 0;
  left: calc(50% + 6px);
  transform: translateX(-50%);
  width: 100%;
  z-index: 999;
  padding-top: rem(60);

  &__logo {
    margin-left: rem(8);
    @include media-breakpoint-up(md) {
      margin-left: rem(40);
    }
  }
  &__tel-wrap {
    transform: translateY(-14px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: rem(10);
    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: rem(40);
      padding-left: rem(10);
    }
    @include media-breakpoint-up(xl) {
      gap: rem(27);
    }
  }
	&__tel {
    @include media-breakpoint-up(md) {
      font-size: rem(18);
    }
	}

  a:not(.btn) {
    color: $body-color;
    &:hover {
      color: $primary;
    }
  }

  a {
    font-weight: 600;
  }


	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
}


