mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col
					+e.logo: +img('img/svg/logo.svg')
				.col.order-lg-0.order-last
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle()
							+mnu()
							+e.tel-wrap.d-lg-none
								+e.tel.A(href="tel:+998772038000") +998 77 203 80 00
								+e.btn.btn.btn-primary.btn-sm(href='#sForm') Связаться
				.col
					+e.tel-wrap.d-none.d-lg-flex
						+e.tel.A(href="tel:+998772038000") +998 77 203 80 00
						+e.btn.btn.btn-primary.btn-sm(href='#sForm') Связаться
				.col-auto.order-last.d-lg-none
					+menu-toggle()
	// end top-nav